<agm-marker 
    [latitude]=sensor.latitude 
    [longitude]=sensor.longitude
    [openInfoWindow]= true
    [(iconUrl)]=icono
    [animation]="'DROP'">
    <agm-info-window
      [maxWidth]="200">
        <h2>Este es el sensor número: <strong>{{sensor.id}}</strong></h2>
        <div class="myDiv"><strong>Temperatura: </strong>{{sensor.temperatura}}</div>
        <div class="myDiv"><strong>Batería: </strong>{{sensor.bateria}}</div>
        <div class="myDiv"><strong>Cobertura: </strong>{{sensor.cobertura}}</div>
        <div><strong>Incidencias: </strong><button mat-button color="warn" disabled={{isDisabled}} (click)="openDialog()">{{sensor.incidencias}}</button></div>
  </agm-info-window>    
</agm-marker>