<agm-marker 
    [latitude]=latitude 
    [longitude]=longitude
    [openInfoWindow]= true
    [(iconUrl)]=icono
    [animation]="'DROP'">
    <agm-info-window
      [maxWidth]="200">
        <h2>Este es el sensor número: <strong>{{id}}</strong></h2>
        <div><strong>Temperatura: </strong>{{temperatura}}</div>
        <div><strong>Batería: </strong>{{bateria}}</div>
        <div><strong>Cobertura: </strong>{{cobertura}}</div>
        <div><strong>Incidencias: </strong>{{incidencias}}</div>
  </agm-info-window>    
</agm-marker>