<h2>{{title}}</h2>
<agm-map [latitude]="36.719681" [longitude]="-4.453487" [zoom]="15" [streetViewControl] = false  (mapClick)="onChoseLocation($event)">
  <agm-marker 
    [latitude]="latitude"
    [longitude]="longitude" 
    *ngIf="locationChosen" 
    (markerClick)="onChoseMarker()"> <!-- Con el if solo lo muestro si antes he hecho click --> 
    <agm-info-window>
      Este marcador se va colocando donde hagas <strong>click</strong>
    </agm-info-window>
  </agm-marker>
  <app-sensor
  [latitude]="36.72014705451366"
  [longitude]="-4.468596293137637"
  [ID]="'1'"
  [incidencias]="3">
  </app-sensor>
  <app-sensor
  [latitude]="36.72005666274869"
  [longitude]="-4.464288772194351"
  [ID]="'2'"
  [incidencias]="1">
  </app-sensor>
  <app-sensor
    [latitude]="36.71982733265364"
    [longitude]="-4.460006260056474"
    [ID]="'3'"
    [incidencias]="2">
  </app-sensor>
  <app-sensor 
    [latitude]="36.719681"
    [longitude]="-4.453487"
    [ID]="'4'"
    [incidencias]="5">
  </app-sensor>
</agm-map>
<div style="font-size: 8px">Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>