<agm-map [latitude]=latitude [longitude]=longitude [zoom]=zoom [streetViewControl]=false>
  <app-sensor ID={{sensorList[0].id}} latitude={{sensorList[0].latitude}} longitude={{sensorList[0].longitude}}
    temperatura={{sensorList[0].temperatura}} bateria={{sensorList[0].bateria}} cobertura={{sensorList[0].cobertura}}
    incidencias={{sensorList[0].incidencias}}></app-sensor>
  <app-sensor ID={{sensorList[1].id}} latitude={{sensorList[1].latitude}} longitude={{sensorList[1].longitude}}
    temperatura={{sensorList[1].temperatura}} bateria={{sensorList[1].bateria}} cobertura={{sensorList[1].cobertura}}
    incidencias={{sensorList[1].incidencias}}></app-sensor>
  <app-sensor ID={{sensorList[2].id}} latitude={{sensorList[2].latitude}} longitude={{sensorList[2].longitude}}
    temperatura={{sensorList[2].temperatura}} bateria={{sensorList[2].bateria}} cobertura={{sensorList[2].cobertura}}
    incidencias={{sensorList[2].incidencias}}></app-sensor>
  <app-sensor ID={{sensorList[3].id}} latitude={{sensorList[3].latitude}} longitude={{sensorList[3].longitude}}
    temperatura={{sensorList[3].temperatura}} bateria={{sensorList[3].bateria}} cobertura={{sensorList[3].cobertura}}
    incidencias={{sensorList[3].incidencias}}></app-sensor>
</agm-map>
<div style="font-size: 8px">Icons made by
  <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from
  <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.com</a>
  is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>