/*mat-icon {
    width: 32px;
    height: 32px
}*/

#icons {
  width: 32px;
  height: 32px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: right;
}

.botones {
  text-align: center;
  position: relative;
  right: 0px;
  bottom: -25px;
  left: 0;
  padding: 1rem;
  color: black;
}

#header_appRoot {
    background-image: url("../assets/img/test.jpg");
    width: 100% !important;
}

.tab-group{
  padding: 10px;
}

.tab-icon {
  margin-right: 8px;
}