<h1>Herramienta de Monitorización IoT</h1>

<mat-tab-group id="my-tab-group" mat-align-tabs="start" animationDuration="750ms">
        <mat-tab label="Mapa de sensores de Teatinos">
                <map [sensorList]="sensorList"></map>
        </mat-tab>
        <mat-tab label="Lista de sensores de Teatinos">
                <list-of-sensors [sensorList]="sensorList"></list-of-sensors>
        </mat-tab>
</mat-tab-group>

<mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle value="temperatura" aria-label="Temperatura">
                <mat-icon svgIcon="temperatura"></mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="incidencias" aria-label="Incidencias">
                <mat-icon svgIcon="incidencias"></mat-icon>
        </mat-button-toggle>
</mat-button-toggle-group>
<div class="example-selected-value">Selected value: {{group.value}}</div>