/*mat-icon {
    width: 32px;
    height: 32px
}*/

#icons {
  width: 32px;
  height: 32px;
}

.botones {
  text-align: center;
  position: relative;
  right: 0px;
  bottom: -25px;
  left: 0;
  padding: 1rem;
  color: black;
}

#header_appRoot {
  background-image: url("../assets/img/Banner.png");
  width: 100%;
  height: 100px;
}

#my-tab-group {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 50px;
  padding-left: 50px;
  min-height: 65vh;
}

.tab-icon {
  margin-right: 8px;
}

#cabecera {
  margin: 0px;
  text-align: center;
  color: #8e0016;
  line-height: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 1.5rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem; /* Footer height */
}