table {
  width: 100%;
}

th.mat-header-cell {
  font-weight: normal;
  color: rgb(87, 87, 87);
  font-size: 14px;
  font-weight: bold;
}

tr.mat-row.ng-star-inserted:hover {
  background-color: whitesmoke;
}

tr.mat-row.ng-star-inserted:focus {
  background-color: gray;
}