<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let sensor"> {{sensor.id}} </td>
    </ng-container>

    <ng-container matColumnDef="temperatura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura </th>
      <td mat-cell *matCellDef="let sensor"> {{sensor.temperatura}} </td>
    </ng-container>

    <ng-container matColumnDef="bateria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Batería </th>
      <td mat-cell *matCellDef="let sensor"> {{sensor.bateria}} </td>
    </ng-container>

    <ng-container matColumnDef="cobertura">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cobertura </th>
      <td mat-cell *matCellDef="let sensor"> {{sensor.cobertura}} </td>
    </ng-container>

    <ng-container matColumnDef="incidencias">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Incidencias </th>
      <td mat-cell *matCellDef="let sensor"><button mat-button
          (click)="openDialog(sensor)" disabled={{isDisabled[sensor.id]}} color="warn">{{sensor.incidencias}}</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>